:root {
  --td-black: #232223;
  --td-blue: #28b7b9;
  --td-white: #f1eeea;
  --td-red: #f44336;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-appearance: none;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  color-scheme: light dark;
}

body {
  margin: 0;
}

input,
button,
select {
  border: none;
}

#content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100dvh;
}

#project_section {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-right: 2px solid var(--td-white);
}

#project_submit_button,
#div_project_form_input_name,
#div_project_form_input_description {
  margin-top: 2rem;
}

#project_form {
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--td-white);
}

#project_form,
#div_project_form_input_name,
#div_project_form_input_description,
#project_holder {
  display: flex;
  flex-direction: column;
}

input,
select {
  border-top: 2px solid var(--td-black);
  border-bottom: 2px solid var(--td-black);
}

button,
input,
button,
select {
  height: 3rem;
  width: 100%;
  transition: all 200ms;
}

#project_holder > div {
  margin: 1rem 0;
}

#project_holder button:hover {
  background-color: var(--td-red);
}

#project_holder button:hover::before {
  content: 'Delete: ';
}

button:hover {
  background-color: var(--td-blue);
}

#task_holder button {
  padding: 0;
}

#task_holder button:hover {
  background-color: var(--td-red) !important;
  border: 1px solid var(--td-white);
}

#task_section {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#task_section button {
  margin: 1rem 0;
}

#task_holder {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#task_holder div {
  margin: 1rem;
  flex-direction: column;
  width: 15rem;
  border: 0.25rem solid var(--td-blue);
}

#task_form_input_date,
#task_form_input_status,
select option {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

#project_holder p {
  padding: 5px;
}

#project_holder div {
  border: 2px solid var(--td-black);
}

#task_form {
  border-bottom: 2px solid var(--td-white);
}

#task_filter_select_status {
  text-align: center;
  margin: 0 auto;
}

#project_section,
#task_section {
  margin-left: 20px;
  margin-right: 20px;
}

#task_form_input_status {
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  #task_section {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
  #task_form {
    grid-row: 1/2;
  }
  #task_filter {
    grid-row: 2/3;
  }
  #task_holder {
    grid-row: 3/4;
  }
  #project_holder button::before {
    content: 'Delete: ';
  }
  #project_holder button {
    background-color: var(--td-red);
  }
  #content {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
  #project_section {
    grid-column: 1/2;
    grid-row: 1/2;
    border-right: 0;
  }
  #task_section {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  input,
  button,
  select,
  option {
    height: 2rem;
  }

  #project_section {
    border-bottom: 2px solid var(--td-white);
  }
}

@media screen and (min-width: 2000px) {
  #task_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: end;
  }
  #task_form {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #task_holder {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  #task_filter {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    align-items: end;
    border-bottom: 2px solid var(--td-white);
  }
}

@media (prefers-color-scheme: dark) {
  input,
  button,
  select,
  option {
    background-color: rgb(35, 35, 35);
  }
}
@media (prefers-color-scheme: light) {
  input,
  button,
  select,
  option {
    background-color: rgb(235, 235, 235);
  }
}
